<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">
    <appender name="Console" class="org.apache.log4j.ConsoleAppender">
        <param name="Target" value="System.out"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d{ISO8601} [%t] [%p] [%c.%M(%L)] - %m%n"/>
        </layout>
    </appender>
    <appender name="LoggerAppender" class="ge.utils.log.LoggerAppender"/>
    <appender name="File" class="org.apache.log4j.RollingFileAppender">
        <param name="File" value="${user.dir}/sys.log"/>
        <param name="MaxFileSize" value="1MB"/>
        <param name="MaxBackupIndex" value="5"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d{ISO8601} [%t] [%p] [%c.%M(%L)] - %m%n"/>
        </layout>
    </appender>
    <root>
        <level value="ALL"/>
        <appender-ref ref="Console"/>
        <appender-ref ref="LoggerAppender"/>
        <appender-ref ref="File"/>
    </root>
</log4j:configuration>