<component name="libraryTable">
  <library name="log4j">
    <CLASSES>
      <root url="jar://$PROJECT_DIR$/lib/apache-log4j/log4j-1.2.17.jar!/" />
    </CLASSES>
    <JAVADOC />
    <SOURCES>
      <root url="file://$USER_HOME$/Downloads/apache-log4j-1.2.17/src/main/java" />
    </SOURCES>
  </library>
</component>